.cabecalho{
    width: 100%;
    height: auto;
    background-color: #34a2fc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;

}

.cabecalho img{
   width: 180px;
   width: 180px;
   display: block;
}

.cabecalho nav{
    width: 50%;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.cabecalho nav a{
    color: #ffffff;
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    position: relative;
}

.cabecalho nav a::after{
    content: "";
    width: 0;
    height: 2px;
    background-color: #000f94;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.5s ease-in-out;
}

.cabecalho nav a:hover::after{
    width: 100%;
    color: #ffffff;
}

.cabecalho nav a:hover{
    color: #000f94;
}

