.conteudo{
    display: flex;
    flex-wrap: font-wrap;
    max-width: 800px;
    margin: 0 auto;
 }
.conteudo >div img{
    max-width: 100%;
    display: block;
 }
.conteudo >div{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;
 }